<div class="front-page">
    Hello. My name is Robert Kovačević. I make software and I write about it here.
    <br>
    You can contact me through one of these:
    <br>
    <br>

    <div class="front-social">
    <a href="mailto:robert.kovacevic1@gmail.com" target="_blank">
        <i class="fa-4x fa fa-envelope-o"></i>
    </a>
    <a href="http://stackoverflow.com/users/321734/robert-kova%C4%8Devi%C4%87" target="_blank">
        <i class="fa-4x fa fa-stack-overflow"></i>
    </a>
    <a href="http://github.com/rkovacevic" target="_blank">
        <i class="fa-4x fa fa-github"></i>
    </a>
    <a href="https://twitter.com/rkovacevic" target="_blank">
        <i class="fa-4x fa fa-twitter"></i>
    </a>
    <a href="http://hr.linkedin.com/in/rkovacevic" target="_blank">
        <i class="fa-4x fa fa-linkedin"></i>
    </a>
    </div>

</div>
